# Dependencias Node js

node_modules
package-lock.js
package-lock.json

#logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#build e artefatos

dist/
build/
coverge/

#Config sys e IDE

.vscode/
.idea/
.DS_Store

#arquivos sensiveis

.env
.env.local
.env.*.local
